@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
body{
  background-color: #545451;
  margin: 0;
  font-family: "Crimson Text", serif;
   }
header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 5px;
  background-color: #545451;
  margin-bottom: 15px;
}

.logo img{
  width: 200px; 
  height: auto;
}

header a{
  text-decoration: none; 
  color: black;
}

.menu{
  display: flex;
  margin-top: 20px;
  gap: 20px;
  font-size: 20px;
}

.pesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.pesquisa input{
  width: 300px;
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  transition: border-color 0.3s;
  box-shadow: 0 1px 2px black;
}

.pesquisa input:hover{
  border-color: #9e9e9d;
}

.pesquisa button{
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  color: black;
  transition: background-color 0.3s;
}

.pesquisa button:hover{
  background-color: #adadad;
  shadow-color: 0 1px 2px black;
}

.secoes{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

.secao{
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.secao img{
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover; 
  transition: transform 0.3s ease;
  box-shadow: 2px 9px 17px black;
}

.secao:hover{
  transform: scale(1.09)
}

.secao span{
  position: absolute;
  bottom: 50%;
  top: 83%;
  left: 50%;
  transform: translateX(-50%);
  color: #7b7c8a;
  font-size: 30px;
}

.seta{
  cursor: pointer;
  font-size: 30px;
  user-select: none;
}

.lista-produtos{
  display: flex;
  overflow: hidden;
  width: 100%;
}

.produto{
  min-width: 200px;
  margin: 0 10px;
  padding: 10px; 
  background-color: #f4f4f4;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  justify-content: center;
}

.produto img{
  max-width: 200px; 
  height: 150px; 
  object-fit: cover;
  border-radius: 5px
}

.produtos{
  display: flex;
  align-items: center;
}
